body{
    margin: 0px;
    font-family: 'Arial';
}
#conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
}


.cartoes{
    background-color: white;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
    margin-right: 50px;
    transition: all 0.5s;
}

.cartoes:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 30px gold;
    cursor: pointer;
    background-color: goldenrod;
}

input, select, button{
    padding-top: 10px;
    padding-bottom: 10px;
}